@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #0a0f1e;
  --bg-secondary: #0d1530;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a0f1e;
  color: #fff;
}
